@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

body,
button,
input,
textarea {
  font-family: "Geist", sans-serif;
}

@keyframes banner-enter {
  0% {
    transform: scale(0.98);
    opacity: 0;
  }
  60% {
    transform: scale(1.015);
    opacity: 1;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.animate-slide-down {
  animation: slide-down 0.3s ease-out;
}

.animate-banner-enter {
  animation: banner-enter 0.3s ease-in;
}

@layer utilities {
  .line-clamp-10 {
    display: -webkit-box;
    -webkit-line-clamp: 16; /* number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 9999px;
    border: 2px solid transparent;
    background-clip: content-box;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(100, 100, 100, 0.7);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 2s infinite;
}
